*{
    padding: 0%;
    margin: 0%;
}

h6{
    color: red;
}
header{
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
}
#logo{
    display: flex;
    justify-content: center;
}

#tit{
    font-size: 40px;
    color: aliceblue;
}

#opciones>a{
    text-decoration: none;
    color: aliceblue;
}

#exp{
    padding: 30 20 30 20;
    display: flex;
    justify-content: center;
  
}

.modal-body>input{
    margin: 5px;
}


#pngA{
    display: flex;
    justify-content: center;
}

#cuadros{
        border: 5px #666666 inset;
        background-color: rgb(45, 43, 43);
        color: aliceblue;
        margin: 50px;
    }
    
#tit2{
        display: flex;
        justify-content: center;
      
    }

#imgpay{
    display: flex;
    justify-content: center;
}

    
#bd2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px 365px 20px 365px;
    }

#botones1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000 ;
    padding: 5px;
    color: white;
}


#redes>img{
    display: flex;
    justify-content: end;

}
.red{
    width: 10%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    cursor: pointer;
}
.red:hover{
    background-color: #666666;
    color: #ffffff;
    transition-duration: 0.5s;
}

.red>a{
    color: #ffffff;
    text-decoration: none;
    margin: 8px;
}

.red>p>a{
    color: #ffffff;
    text-decoration: none;
    margin: 8px;
}

a>img{
    padding-bottom: 10px;
}
p>a{
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
}

#botonesC{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#tablaa{
    display: flex;
    margin: 30px 20px 100px 20px ;
}

#tit6{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

#thanks{
    color: #000000;
    font-size: large;
    display: inline-flex;
    flex-direction: row;
    padding: 20px;
}


#fundacion{
    display: flex;
    justify-content: center;
}